extends layout

block content
	#complete.center-vertical
		.body.well
			img(src= "https://lh3.googleusercontent.com/0RVpgIprK6aR3bSHK8YgplzlY8-L3MQO0YFBpjVr3UdNNCy9djETOtNf_y8rHOgT-1bjqP37744e2lY=w2560-h1224")
			h2.title You have signed in!

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/complete.js')